.DS_Store
node_modules
/.build
/.svelte-kit
.env
.env.*
!.env.example
root
src/routes/(app)/(plugins)/
.deployed
.released
.eslintcache
.release-it.cjs
.npmrc
.husky/
rougeticket.config.js
plugins
.kit-build
