// @use 'bulma/sass/utilities/initial-variables' as iv;
// @use 'bulma/sass/utilities/derived-variables' as dv;

// higher big size

$brand: rgb(153, 0, 0); // #900; dark red

$danger: rgb(239, 26, 13); // #ef1a0d

$secondary: rgb(93, 0, 0); // #5d0000
$secondary-hover: rgb(111, 0, 0); // #6f0000
$secondary-disabled: rgb(223, 170, 169); // #dfaaa9

$full-disabled: rgb(253, 243, 242); // #fdf3f2
$grey-standalone: #ededed;

// $calendar-header-padding: 0.2rem 0;
// $calendar-header-nav-padding: 0.3em;
