@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import './_variables.scss';

@import 'bulma/sass/utilities/_all';

@import 'bulma/sass/utilities/functions';

// some derived-variables overwrite here
$shadow:
  0.05rem 0.05rem 0.15rem -0.05rem $primary-disabled,
  1px 1px 3px 1px $grey-lightest;

@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';

//@import "bulma/bulma.sass";

@import 'bulma-switch/src/sass/index.sass';

// has deprecation warning - not used anymore...
/// @import "bulma-o-steps/bulma-steps.sass";

@import './_overrides.scss';

#preloaded {
  display: none;
}
