@use '_variables' as v;

@forward 'bulma/sass/utilities';
@forward 'bulma/bulma.scss';

@forward 'bulma/sass/base';
@forward 'bulma/sass/elements';
@forward 'bulma/sass/form';
@forward 'bulma/sass/components';
@forward 'bulma/sass/grid';
@forward 'bulma/sass/helpers';
@forward 'bulma/sass/layout';
@forward '_overrides.scss';

@forward 'bulma-switch/src/scss/index';

// has deprecation warning - not used anymore...
/// @import "bulma-o-steps/bulma-steps.sass";

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

// some derived-variables overwrite here
$shadow:
  0.05rem 0.05rem 0.15rem -0.05rem v.$primary-disabled,
  1px 1px 3px 1px v.$grey-lightest;

body {
  position: relative;
  height: fit-content;
}
.version {
  position: absolute;
  bottom: 2px;
  left: 4px;
  a {
    color: #ddd;
  }
}

#preloaded {
  display: none;
}
